body {
	color: #412311;
  	background: url(../img/bkgd.png);
	font-family: "newsgoth", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
      }
	  
h1, h2, h3 {
	font-family: "nevis", "Arial Bold", "Helvetica Bold", sans-serif;
	font-weight: normal;
	
}

#App_description {
	height:400px;
	width:75%;
}

#App_features {
	height:400px;
	width:75%;
}

h1 {
	font-size: 36px; 
	text-shadow: -2px -2px 1px #FFFFFF;
	margin-bottom: 35px;
	color: #146696;
	}
h2 {
	font-size: 26px;
	color: #146696;
	text-shadow: -2px -2px 1px #FFFFFF;
}

h3 {
	color: #e40014;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #146696;
}

.buttons {margin: 10px 0; text-align: center;}
/*.btn {*/
	/*color: #000;*/
	/*font-size: 31px;*/
	/*font-family: "nevis", "Arial Bold", "Helvetica Bold", sans-serif;*/
	/*padding: 10px 40px;*/
	/*margin: 5px;*/
	/*background: #ffe165;*/
	/*border: 3px solid #ffb900;*/
	/*border-radius: 10px;*/
	/*-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.4);*/
	/*box-shadow: 0 0 7px 0 rgba(0,0,0,.4);*/
	/*text-decoration: none;*/
	/*text-transform: uppercase;*/
/*}*/

/*.btn:hover,*/
/*.btn:focus {*/
	/*color: #000;*/
	/*background: #fce586;*/
	/*text-decoration: none;*/
/*}*/



.navbar-inverse .navbar-inner {
  background-color: #00aeef;
  background: url(../img/blackboard.jpg) #111216;
  padding: 10px;
}

	.nav2 {
		background: #ffe165;
		border-top: 0;
		border-right: 4px solid #ffb900;
		border-bottom: 4px solid #ffb900;
		border-left: 4px solid #ffb900;
		color: #0e578f;
		-webkit-border-radius: 0 0 12px 12px;
		border-radius: 0 0 12px 12px;
		padding: 8px;
	}
	
	.nav2 form {
		margin: 0;
		padding: 0;
	}
	
	.nav2 input, .nav2 select { 
		font-family: "nevis", "Arial Bold", "Helvetica Bold", sans-serif;
		font-size: 14px;
		color: #0e578f;
		width: 134px; 
		height: 30px; 
		border: 1px solid #000;
		margin-bottom: 3px;
		}
		
	.nav2 .submit {
		max-width: 25px;
		height: auto;
		border: none;
	}
	
	.nav2 .search {
		padding: 0px 5px;
		height: 28px;
	}
	

	  
#Content {
	
}

header {
	font-family: "nevis", "Arial Bold", "Helvetica Bold", sans-serif;
	min-height: 115px;
	color: #fff;
	
}

.tag { font-size: 16px; float: left;}


footer {
	background: url(../img/blackboard.jpg) #111216;
	min-height: 275px;
	color: #fff;
	font-size: 15px;
	margin-top: 50px;
}

footer img {
	padding: 5px;
}

footer a:link { color: #fff; }
footer a:hover { color: #ffe165; }
footer a:visited { color: #fff; }
footer a:active { color: #fff; }


.footer {
	margin: -15px auto 15px;
	padding: 20px 40px;
	
	-webkit-box-shadow: 0 -5px 7px 0 rgba(0,0,0,.4);
	box-shadow: 0 -5px 7px 0 rgba(0,0,0,.4);
	
	-webkit-border-radius: 0 0 12px 12px;
	border-radius: 0 0 12px 12px;
}

.gradient {
	background: #187cb6; /* Old browsers */
	background: -moz-linear-gradient(top, #187cb6 0%, #136594 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#187cb6), color-stop(100%,#136594)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #187cb6 0%,#136594 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #187cb6 0%,#136594 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #187cb6 0%,#136594 100%); /* IE10+ */
	background: linear-gradient(to bottom, #187cb6 0%,#136594 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#187cb6', endColorstr='#136594',GradientType=0 ); /* IE6-9 */
}

.copyright {
	font-size: .8em;
	text-align: center;
	
}
.leanslide,
.masthead div {	text-align: center;}
.lt-yellow-box {
	background: #f9f1d0;
	border: 2px solid #ffeab4;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 15px 25px;
}

.left-column { font-size: 16px;}
.left-column div {
	padding: 5px 0;
}
.left-column .links {font-size: 15px }

.featured h3 { text-align: center; }

.featured-app { }
.featured-app div {margin: 5px;}

.app-thumb {float: left;}
.app-info {float: left; padding: 15px 15px 15px 0; }
.app-name { font-size: 24px; padding:10px;}
.app-info .app-info-item{
    width: 185px;
}

.welcome h2 { text-align: center; }
.welcome p {text-align: justify; }
.welcome div {text-align: center; margin-bottom: 40px;}

.search-results { }
.search-results .result { padding: 10px; margin: 10px 0; }

.search-results .thumb,.app-controls {
		font-size: .8em;
		font-style: italic;
		text-align: center;
	}
	
	.search-results .thumb img {
	-webkit-border-radius: 16px;
	border-radius: 16px;
	margin-bottom: 5px;
}
.search-result-alt {
	background: rgba(255,255,101,.4);
}

.blog {}
.blog .span10 {padding: 10px 10px 10px 0;}
.blog .span1 {padding: 10px;}
.blog h3 {margin: 0; padding: 0;}
.blog .span1 img {
	padding-top: 14px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	}

.pagination {
	margin: 20px 0;
}

.reviews img {
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.reviews .span2 {
	font-family: "nevis", "Arial Bold", "Helvetica Bold", sans-serif;
	color: #146696;
}

.reviews .span2 a{text-decoration: underline;}

.screen-shots img {margin: 0 10px;}

.features
{padding-left: 22px ;
    text-indent: -14px ;}

@media (max-width: 767px) {
	

	.brand img {
		max-width: 160px;
		float: left;
	}
	
	.account {
	     float:right;
		 font-size:12px
	}
	
	.tag { display: none; }
	
	
	.img-right { text-align: center; margin-bottom: 10px; margin-left: -10px}
	.img-left { text-align: center; margin-bottom: 10px; margin-left: -10px}
	
	.navbar .nav {
		background: url(../img/blackboard.jpg);
 		position: relative;
  		left: 0;
  		display: block;
  		margin: 19px 0px -2px 0;
	}
	
	.navbar-inverse .navbar-inner {
  	height: 76px;
	}
	
	.app-info { width: 120px; }
	
	.btn-small {
	font-size: 11px !important;
	padding: 4px 4px !important;
}
	
}

@media (min-width: 768px) {
		
	.img-right { float: right; margin-left: 15px; }
	.img-left { float: left; margin-right: 15px; }
	
	.account {
		float: right;
		background: url(../img/free.png) no-repeat top right;
		
		text-shadow: 1px 1px 0px #000;
		text-align: center;
		padding: 20px 85px 0 0;
	}
		
	.account div {
		font-size: 34px;
		color: #fee066;
		margin-bottom: 10px;
	}
	
	.navbar-inverse .navbar-inner {
  height: 94px;
}
	
	.app-thumb {width: 115px;}
	
	.search-results { }
	
	.search-results  .text div {
		padding:  6px;
	}
	
	.search-results .thumb {
		width: 155px;
		float: left;
		
	}
	
	.app-controls {
		float: right;
		width: 200px;
	}
	
	.btn-small {
	font-size: 14px !important;
	padding: 4px 8px !important;
}
}


@media (min-width: 768px) and (max-width: 979px) {
	.brand img {
		max-width: 160px;
		padding-right: 200px;
	}
	
	.logo { float: left; }
	.nav2 label {float: left; margin-right: 10px; }
	
	.navbar .nav {
		background: url(../img/blackboard.jpg);
 		position: relative;
  		left: 0;
  		display: block;
  		margin: 14px 0px -2px 0;
	}
}



@media (min-width: 980px) {
	
	body {
		padding-top: 108px;		
	}
	
	#Content {
	margin-top: 10px;
	min-height: 500px;
	}
	
	#Content .container {
	padding: 20px;
	}
	
	.masthead {
		background: url(../img/child.png) no-repeat 100% 40%;
		padding-right: 390px;
		padding-top: 70px;
	}
        .leanslide-content {
		min-height: 405px;
		margin-top: -30px;
	}
	

	.masthead h4 {padding-left: 20px;}
		.masthead h1 {padding-left: 20px;}
	
	

	.masthead span {
		color: #B1B1B1;
		font-size: 80%;
	}

	.logo {
		position: absolute;
		z-index: 100;
		}
		
	.logo img {
		padding: 53px 25px 0;
	}
		
		.logo img {
		max-width: 280px;
	}
	
	.nav {
		position: absolute ;
		margin: 80px 10px 0 0 ;
		padding-left: 300px;
		width: 629px;
		}
		
		.navbar .nav > li > a {
		  font-size: 16px;
		  padding: 30px 19px;
		}

.nav {
		-webkit-border-radius: 12px 12px 0 0;
		border-radius: 12px 12px 0 0;
		
		background: #187cb6; /* Old browsers */
	background: -moz-linear-gradient(top, #187cb6 0%, #136594 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#187cb6), color-stop(100%,#136594)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #187cb6 0%,#136594 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #187cb6 0%,#136594 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #187cb6 0%,#136594 100%); /* IE10+ */
	background: linear-gradient(to bottom, #187cb6 0%,#136594 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#187cb6', endColorstr='#136594',GradientType=0 ); /* IE6-9 */
	}

.navedge1 {
		background: url(../img/nav1.png) no-repeat;
		width: 22px;
		height: 66px;
		position: absolute;
		margin-top: 94px;
		margin-left: -22px;
	}

	.navedge2 {
		background: url(../img/nav2.png) no-repeat;
		width: 22px;
		height: 66px;
		position: absolute;
		margin-top: 98px;
		right: -52px;
	}
		.nav2 label {float: left; margin-right: 10px; margin-top: 5px;}
		
		.nav2 {
		position: absolute;
		margin-top: 160px;
		right: -30px;
	
	}

	
}

@media (min-width: 1200px) {
	
	.logo img {
		max-width: 368px;
		padding: 26px 25px 0;
	}
	
	.nav {
		width: 1170px;
		position: absolute;
		margin: 80px 10px 0 0 ;
		padding-left: 408px;
		}
		
	.navbar .nav > li > a {
  font-size: 20px;
  padding: 30px 20px;
}
	
}

form label.rememberMe_label{
    display: inline;
}

.admin-manage-table td{
    padding: 5px;
}
.admin_btn {
    background: #ffe165;
    border: 3px solid #ffb900;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.4);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.4);
    background: #ffb900;
    border: 1px solid ;
    border-radius: 5px;
    color: #000000;
    font-family: "nevis", "Arial Bold", "Helvetica Bold", sans-serif;
    margin: 5px;
    padding: 10px;
}

.action-link{
    color: blue;
}
.action-link{
    color: black;
    cursor: pointer;
}
.add-items{
    margin: 0 0 10px 20px;
    
    padding: 5px 0 0 10px;
    font-size: .9em;
    width: 220px;
}
.add-item{
  
    
}
.clear-div{
    clear: both;
    height: 1px;
    width: 100%;
}


.checkboxes_form_input span input[type=checkbox]{
    float: left;
}

.checkboxes_form_input span label{
    display: inline;
    padding: 0 0 0 10px;
}


.testimonial-quote{
    font-size: .9em;
    margin: 0 0 20px 20px;
}
.awards{
    margin: 10px 0;
}
#wishlist-action{
    display: inline;
}
.left-column select{
    width: 100%;
}
/*
form#login-form{
    margin:         auto;
    width:          200px;
}
#login-form input[type=text], #login-form input[type=password]{
    width: 95%;
}
#login-form .buttons{
     margin-left: -30px;
}*/
@media (max-width: 1200px) {
	#ask {display:none;}
}


.featured-app{
    min-height: 190px;
}

.featured-app .app-info .app-name{
    font-size: 22px;
    font-weight: bold;
}

.featured-app .app-info{
    padding: 0 0 15px 0;
    margin: -2px;
    width: 196px;
}

.featured-app .ages, .featured-app .cat-name {
    font-size: 17px;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 18px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .featured-app{
        min-height: 300px;
        width: 28.492%;
    }
}

@media (min-width: 979px) {
    .featured-app{
        width: 38.915%;
    }
}

@media (min-width: 1080px) {
   .featured-app{
         width: 30.915%;
    }
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}
.pagination > li {
	display: inline;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	z-index: 2;
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.navbar .nav > li > a{
	color:#fff;
}